.no-calendar-icon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

.no-calendar-icon::-webkit-calendar-picker-indicator {
    display: none;
}